---
import Header from "../components/Header.astro";
import Footer from "../components/shared/Footer.astro";
import Navigation from "../components/shared/Navigation.astro";
import "@fontsource-variable/inter";
const pageTitle = Astro.props.pageTitle || "Code4Community";
const pageName = Astro.props.pageName || "Code4Community";
---

<html lang="en-us">
  <Header pageTitle={pageTitle} />
  <body class="font-inter bg-primary text-text min-h-screen pb-4">
    <Navigation pageName={pageName} />
    <main class="flex flex-col">
      <slot />
    </main>
    <div class="bg-text h-[5px] rounded-full mx-4 my-4"></div>
    <Footer />
  </body>
</html>
