---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageName = "Contact Code4Community";

import contactImage from "../images/contact-page-placeholder.png";
import CodeIcon from "../components/CodeIcon.astro";
import SubmitIcon from "../components/SubmitIcon.astro";

import * as faqs from '../../public/data/faqs.json';
import { Faq } from "../components/Faq";
---

<BaseLayout pageName={pageName}>
  <section
    class="grid lg:grid-cols-2 grid-cols-1 items-center min-h-[675px] p-4 bg-primary w-full"
  >
    <div class="px-4">
      <h1 class="text-6xl font-bold">Get in Touch</h1>
      <p class="text-2xl font-bold mt-4 max-w-lg">
        Whether you'd like to suggest a project or get involved, we'd love hear
        from you
      </p>
    </div>
    <div>
      <Image src={contactImage} alt="contact page placeholder" />
    </div>
  </section>
  <section
    class="flex lg:flex-row p-4 flex-col justify-between lg:gap-2 gap-4 items-center min-h-[460px] bg-secondary-1"
  >
    <div
      class="flex flex-col gap-2 lg:-translate-y-40 bg-primary min-h-72 rounded-xl p-4 shadow-inner"
    >
      <div class="flex gap-2 items-center">
        <CodeIcon />
        <h2 class="text-xl font-bold">Get involved as a developer</h2>
      </div>
      <p class="text-lg max-w-lg">
        Help non-profits and charities develop meaningful software
      </p>
    </div>
    <div
      class="flex flex-col gap-2 lg:-translate-y-40 bg-primary min-h-72 rounded-xl p-4 shadow-inner"
    >
      <div class="flex gap-2 items-center">
        <SubmitIcon />
        <h2 class="text-xl font-bold">Submit a project</h2>
      </div>
      <div class="flex justify-center items-center">
        <p class="text-lg max-w-lg">
          Know of a meaningful non-profit project or organization that could use
          some developer support?
        </p>
      </div>
    </div>
  </section>
  <section class="min-h-[960px] bg-secondary-2 p-4">
    <!-- This is an fixed size section that is a placeholder for the embedded google form -->
    <div
      class="min-h-[1000px] bg-primary lg:translate-y-[-100px] mx-auto p-12 rounded-xl"
    >
      <h1 class="lg:text-6xl text-4xl font-bold mt-4">
        Have a question or want to get in contact?
      </h1>
      <div class="flex-1 justify-center items-center mt-4 min-h-full">
        Google Form Goes Here
      </div>
    </div>
  </section>
  <section class="bg-secondary-3 p-4 flex flex-col justify-center items-center">
    <div class="container first:rounded-t-md last:rounded-b-md">
      {
        faqs.data.map((faq) => (
          <Faq client:visible question={faq.question} answer={faq.answer} />
        ))
      }
    </div>
  </section>
</BaseLayout>
