---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1 style="font-size: 4rem; font-weight: bolder;">
    Build the tech community through hands-on projects
  </h1>
</BaseLayout>
