---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import InfoBox from "../components/InfoBox.astro";
import FirstImage from "../images/firstMeeting.jpg";
---

<BaseLayout>
  <section
    class="flex flex-col md:flex-row justify-between items-center gap-8 py-4 md:py-40 overflow-x-hidden"
  >
    <div>
      <h1 class="text-5xl font-bold p-4 pt-20 relative">
        Code 4 <br /> Community
      </h1>
      <ul class="flex flex-col gap-4 text-2xl md:text-5xl font-extrabold w-screen">
        <li
          class="animate-slide-l-r-3 bg-secondary-1 w-2/3 md:w-[40%] pl-4 py-2 rounded-r-full"
        >
          Developing devs
        </li>
        <li
          class="animate-slide-l-r-2 bg-secondary-2 w-5/6 md:w-[50%] pl-4 py-2 rounded-r-full"
        >
          Building projects
        </li>
        <li
          class="animate-slide-l-r-1 bg-secondary-3 w-full md:w-[60%] pl-4 py-2 rounded-r-full"
        >
          Becoming Leaders
        </li>
      </ul>
    </div>
    <div class="bg-black -z-10 md:absolute right-0 md:w-7/12 rounded-l-2xl md:mt-12 animate-slide-r-l-1 overflow-x-hidden"
    >
      <Image
      class="opacity-70"
        src={FirstImage}
        alt="An image of all the founding members!"
      />
    </div>
  </section>
  <section class="flex flex-col gap-8 w-full justify-center md:flex-row px-4">
    <InfoBox
      color="bg-secondary-1"
      title="Teach"
      text="Got some experience, but looking to develop some leadership skills? We’re always looking for awesome people with kindness and passion to help our new members push the needle. If you want experience working with a team excited to collaborate, learn, and give back to the bluegrass, we want you!"
    />
    <InfoBox
      color="bg-secondary-2"
      title="Give"
      text="Always wanted to build projects for the community you live in and make a real difference? This is the place for you! We are dedicated to making great devs who make great things. Together we can make amazing products to help the bluegrass! If you want experience working with a team excited to collaborate, learn, and give back to the bluegrass, we want you!"
    />
    <InfoBox
      color="bg-secondary-3"
      title="Build"
      text="No matter your skill level, build stuff with cool cats. We build projects using all kinds of tooling. If you want experience working with a team excited to collaborate, learn, and give back to the bluegrass, we want you!"
    />
  </section>
</BaseLayout>
