:root {
  /*primary color pallet*/
  --color-gunmetal: #252d2a;
  --color-celadon: #a4d3ae;
  --color-dark-cyan: #37928d;
  --color-sunset: #e3c699;
  --color-burnt_sienna: #e07a5f;

  /*alternate color pallet*/

  --color-background: var(--color-gunmetal);
  --color-header: var(--color-sunset);
  --color-section-header: var(--color-dark-cyan);
  --color-section-border: var(--color-dark-cyan);
  --color-text: var(--color-sunset);
}

* {
  background-color: var(--color-background);
  box-sizing: border-box;
  color: var(--color-sunset);
}

html {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  max-width: 120ch;
  min-height: 100%;
  height: 100%;
  padding: 1rem;
  line-height: 1.5;
  flex-grow: 1;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}
