---
import ProIconsGithub from "../components/shared/ProiconsGithub.astro";
import ProIconsComment from "../components/shared/ProiconsComment.astro";
---

<footer class="flex gap-8 justify-center">
  <a href="https://github.com/Code4Community-Lexington"
    ><ProIconsGithub class="bg-text text-bg-primary rounded-xl p-2 w-12 h-12 hover:scale-110 duration-150" /></a
  >
  <a href="/contact"><ProIconsComment class="bg-text text-bg-primary rounded-xl p-2 w-12 h-12 hover:scale-110 duration-150" /></a>
</footer>
