---
import ProIconsGithub from "../components/shared/ProiconsGithub.astro";
import ProIconsComment from "../components/shared/ProiconsComment.astro";
---

<footer class="flex gap-8 justify-center">
  <a href="https://github.com/Code4Community-Lexington"
    ><ProIconsGithub class="w-20 h-20" /></a
  >
  <a href="/"><ProIconsComment class="w-20 h-20" /></a>
</footer>
