---
const { title, text, color } = Astro.props;
---

<article class={`flex flex-col shadow-xl ${color} p-4 rounded-md w-full`}>
  <h3 class="text-3xl font-extrabold">{title}</h3>
  <p class="py-1">{text}</p>
</article>
