---
const pageName = Astro.props.pageName || "Code4Community";
const baseUrl = import.meta.env.BASE_URL;
---

<nav class="flex justify-between items-center p-8">
  <a class="text-4xl font-extrabold" href="/"> C4C </a>
  <div class="flex gap-8">
    <a class="transition duration-110 hover:scale-125" href="/about">About</a>
    <a class="transition duration-110 hover:scale-125" href="/contributors">Contributors</a>
    <a class="transition duration-110 hover:scale-125" href="/contact">Contact</a>
  </div>
</nav>
