---
import Navigation from "../components/Navigation.astro";
import Header from "../components/Header.astro";
---

<html lang="en">
  <Header />
  <Navigation />
  <body>
    <h1>Code4Community Contributors</h1>
  </body>
</html>
