---
import "../styles/global.css";
---

<style>
  .footer {
    background: none;
  }

  div.footer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
  }

  a.footer {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 15px 20px;
    text-align: left;
    flex-grow: 0;
    flex-shrink: 0;
  }
</style>

<div class="footer">
  <a class="footer" href="https://github.com/Code4Community-Lexington">github</a
  >
</div>
