---
import "../styles/global.css";
---

<style>
  .navigation {
    background: none;
  }
  div.navigation {
    display: flex;
    justify-content: flex-end;
  }
  a.navigation {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 1em;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
  }
</style>

<div class="navigation">
  <a class="navigation" href="/">Home</a>
  <a class="navigation" href="/about">About</a>
  <a class="navigation" href="/contributors">Contributors</a>
  <a class="navigation" href="/contact">Contact</a>
</div>
