:root {
  /*primary color pallet*/
  --color-gunmetal: #252d2a;
  --color-celadon: #a4d3ae;
  --color-dark-cyan: #37928d;
  --color-sunset: #e3c699;
  --color-burnt_sienna: #e07a5f;

  --color-background: var(--color-gunmetal);
  --color-header: var(--color-sunset);
  --color-section-header: var(--color-dark-cyan);
  --color-section-border: var(--color-dark-cyan);
  --color-section-background: var(--color-dark-cyan);
  --color-text: var(--color-sunset);
}

* {
  background-color: var(--color-background);
  color: var(--color-sunset);
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}
